@import "../../assets//theme/colors.scss";
.product-layout-wrapper {
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  @media screen and (min-width: $mobile-breakpoint) {
    & {
      display: block;
    }
  }
}
.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $white;
  border-radius: 1rem;
  padding: 1.5rem 0;
}
.product-item-alpha {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // position: relative;
}
.product-image {
  text-align: left;
  // position: absolute;
  width: 3rem;
  height: 100%;
  //   border-top-left-radius: 1rem;
  //   border-bottom-left-radius: 1rem;
}
.product-name {
  padding: 0rem 1rem;
}

.product-item-beta {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
  span {
    padding: 0 1rem;
  }
}

.product-status {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: $blue;
  color: $white;
  font-size: 0.8rem;
}
