@import "../../assets/theme/colors.scss";

#menu-checkbox {
  display: none;
  user-select: none;
}
#menu-checkbox:checked ~ .wrapper .sidebar {
  display: block;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  padding: 1rem;
}
