@import "../../assets//theme/colors.scss";
.payment-wrapper {
  display: none;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.8rem;
  grid-template-columns: 1fr auto;

  background-color: $white;
  @media screen and (min-width: $mobile-breakpoint) {
    & {
      display: grid;
    }
  }
}
.p-intro {
  align-self: center;
  font-size: 0.85rem;
  font-weight: bold;
}
.payment-options-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.arrow {
  align-self: center;
  padding: 0rem 1rem;
  color: $blue;
}
.payment-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: $greyed-out;
  opacity: 0.8;
}

.payment-icons li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.po-name {
  font-size: 0.5rem;
  text-align: center;
  color: #444;
  margin-top: 0.5rem;
}
